:root{
    --marron: #805841;
    --marron-oscuro: #573c2c;
    --celeste: #dcf7f3;
    --amarillo: #fffcdd;
    --rosa: #ffd8d8;
    --salmon: #f5a2a2;
}
*{
    /* outline: 1px solid black; */
    box-sizing: border-box;
}
html{
    background-image: url(../images/fondo-panes.jpg);
}
header{
    text-align: center;
    font-size: 40px;
}
a{
    text-decoration: none;
    color: var(--salmon);
}
a:hover{
    color: var(--amarillo);
}
a:active{
    color: var(--salmon);
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 35px;
    height: 60px;
}
nav div{
    background-color: var(--marron-oscuro);
    padding: 10px;
    border-radius: 5px;
}
nav div:hover{
    font-size: 40px;
}
body{
    width: 1000px;
    margin: 10px auto;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--marron);
}
img, fieldset{
    border-radius: 20px;

}
fieldset{
    font-size: 20px;
    background-color: var(--marron-oscuro);
}
li{
    text-align: left;
}
main{
    padding: 0 20px;
    text-align: center;
    color: var(--celeste);
}
h2{
    font-size: 60px;
    background-color: var(--marron-oscuro);
    border-radius: 15px;
}
p{
    font-size: 20px;
}
legend{
    text-align: right;
    margin-right: 20px;
    font-size: 40px;
    color: var(--celeste);
}
footer{
    border-top: 2px solid var(--celeste);
    margin-top: 10px;
    padding-top: 10px;
    text-align: center;
}
footer p {
    margin: 5px;
    font-size: 15px;
}
.butter-list{
    list-style-image: url(../images/butter.png);
}
.egg-list{
    list-style-image: url(../images/egg.png);
    
}
.sugar-list{
    list-style-image: url(../images/sugar-cube.png);
}
.flour-list{
    list-style-image: url(../images/flour.png);
}