:root{
    --marron: #805841;
    --marron-oscuro: #573c2c;
    --celeste: #dcf7f3;
    --amarillo: #fffcdd;
    --rosa: #ffd8d8;
    --salmon: #f5a2a2;
}
*{
    /* outline: 1px solid black; */
    box-sizing: border-box;
    font-family: "Delius Swash Caps", cursive;
}
html{
    background-image: url(../images/fondo-panes.jpg);
}
header{
    text-align: center;
    font-size: 40px;
}
h1:hover{
    transform: scale(1.1);
}
a{
    text-decoration: none;
    color: var(--salmon);
}
a:hover{
    color: var(--amarillo);
}
a:active{
    color: rgb(207, 104, 104);
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 35px;
    height: 80px;
    background-color: var(--salmon);
    border-radius: 15px;
    width: 100%;
}
nav div{
    background-color: var(--marron-oscuro);
    padding: 10px;
    border-radius: 5px;
}
nav div:hover{
    transform: scale(1.1);
    border: 2px solid black;
}
body{
    width: 1000px;
    margin: 10px auto;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--marron);
    box-shadow: 10px 10px 20px rgb(34, 33, 33);
}
img, fieldset{
    border-radius: 20px;

}
fieldset{
    font-size: 20px;
    background-color: var(--marron-oscuro);
}
li{
    text-align: left;
}
main{
    padding: 0 20px;
    text-align: center;
    color: var(--celeste);
}
h2{
    font-size: 60px;
    background-color: var(--marron-oscuro);
    border-radius: 15px;
}
p{
    font-size: 20px;
}
legend{
    text-align: right;
    margin-right: 20px;
    font-size: 40px;
    color: var(--celeste);
}
footer{
    border-top: 2px solid var(--celeste);
    margin-top: 10px;
    padding-top: 10px;
    text-align: center;
}
footer p {
    margin: 5px;
    font-size: 15px;
}
/*PERSONALIZED LISTS*/

.personalized{
    list-style: none;
    padding-left: 0;
}
.personalized li::before{
    vertical-align: middle;
    padding-right: 10px;
}
.butter-list::before{
    content: url(../images/icons/butter.png);
}
.flour-list::before{
    content: url(../images/icons/flour.png);
}
.egg-list::before{
    content: url(../images/icons/egg.png);
}
.sugar-list::before{
    content: url(../images/icons/sugar-cube.png);
}
.cookie-list::before{
    content: url(../images/icons/cookie.png);
}
.empanada-list::before{
    content: url(../images/icons/empanada.png);
}
.chicken-list::before{
    content: url(../images/icons/chicken.png);
}
.spinach-list::before{
    content: url(../images/icons/spinach.png);
}
.olive-list::before{
    content: url(../images/icons/olive.png);
}
.water-list::before{
    content: url(../images/icons/glass-of-water.png);
}
.oil-list::before{
    content: url(../images/icons/oil.png);
}
.quiche-list::before{
    content: url(../images/icons/quiche.png);
}
.amarula-list::before{
    content: url(../images/icons/amarula.png);
}
.ice-cream-list::before{
    content: url(../images/icons/ice-cream.png);
}